{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/logo-trans-inv.png' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Etéreo Software</title>
</head>

<body>
    <div id="root"></div>
    {{ servicios_json|default:"[]"|safe|json_script:"servicios-data" }}
    <script>
        let dataStr = document.getElementById('servicios-data').textContent;
        window.djangoServicios = JSON.parse(dataStr);
    </script>
    <script src="{% static 'main.js' %}"></script>
</body>

</html>